/build/
/dist/
/webfx-samples/nbproject/private/
/webfx-samples/target/
/webfx-browser/nbproject/private/
/webfx-browser/dist/
/webfx-browser/build/
/JavaFXApplication5/nbproject/private/
/webfx-component/target/
/JavaFXApplication6/nbproject/private/
/JavaFXApplication6/build/
/JavaFXApplication6/dist/
/JavaFXApplication7/nbproject/private/
/JavaFXApplication7/dist/
/JavaFXApplication7/build/
/JavaFXApplication8/nbproject/private/
/webfx-browser/nbproject/
/webfx-deck/target/
/webfx-deck-mbean/target/
/webfx-mbean/target/
/JavaFXApplication2/nbproject/private/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication4/nbproject/private/
/mavenproject1/target/